<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>值日表</title>
    <script type="text/javascript" src="../public/javascripts/jquery-3.5.1.js"></script>

    <p  id ="demo">这是一个文本框</p>

    <button onclick="hide()">点击隐藏文本</button><br />

    <button onclick="show()">点击显示文本</button><script>

    //隐藏文本

    function hide(){

        $("#demo").hide();

    }

    //显示文本

    function show(){

        $("#demo").show();

    }

</script>

</head>
<body>


</body>

</html>